body {
    text-align: center;
    font-family: Helvetica, sans-serif, Arial;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 600px;
}

.head {
    display: block;
    align-self: center;
    width: 100%;
}

.head > h2 {
    margin: 0;
}

.main {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}


#add_button {
    display: block;
    position:  absolute;
    bottom: 2.5%;
    width: 100%;
    /* align-self: flex-end; */
    z-index: 100;
}


.task {
    animation-duration: 0.4s;
    animation-name: slidein;
    animation-timing-function: ease-out;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    z-index: 0;
}

.task-button {
    width: 80%;
    display: block;
    padding: 0;
    margin: 0;
}

.task-button:focus {
    outline: none;
}

.task-tracker {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #525252;
    font-size: 1rem;
    text-align: center;
    background-color: #0f0f0f;
}

.task-tracker.pop {
    animation-duration: 0.2s;
    animation-name: pop;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
.task-tracker > button {
    width: 100%;
    height: 100%;
    border: none;
}
  
@keyframes slidein {
    from {
        margin-top: 10%;
        opacity: 0%;
        display: none;
    }

    50% {
        opacity: 0%;
    }
    
    to {
        margin-top: 0;
        opacity: 100%;
        display: block;
    }
}

@keyframes pop {
    from {
        font-size: 1rem;
    }

    to {
        font-size: 2rem;
    }
}



button {
	background-color:transparent;
	border:1px solid #525252;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: monospace, sans-serif, Arial;
	font-size: 1rem;
	padding:5px 7px;
	text-decoration:none;
}

button:hover {
	background-color:transparent;
}
button:active {
	position:relative;
    top:1px;
}
button:focus {
    outline: none;
}

#add_button > form > button {
    background-color: #3f3f3f;
}

::-webkit-scrollbar {
    background: #1d1d1d;
}

::-webkit-scrollbar-thumb {
    background: white;
    width: 3px;
}
