body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
}

p {
    color: white;
}

.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
}

#add_button {
    position: absolute;
    bottom: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

button {
	background-color:transparent;
	border:1px solid #525252;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: monospace, 'Roboto';
	font-size: 1rem;
	padding:5px 7px;
	text-decoration:none;
}
button:hover {
	background-color:transparent;
}
button:active {
	position:relative;
	top:1px;
}
