body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
}

p {
    color: white;
}

.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: table;
    margin: 0 auto;
}

#add_button {
    position: absolute;
    bottom: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: monospace;
}