.main {
    font-family: 'Roboto', sans-serif;
    color: white;
}

input {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #1d1d1d;
    border-style: groove;
    text-align: center;
    position: absolute;
}

input:focus {
    outline: none;
}
